:root{
    --main-c:#fd2df6d7;
    --border-r:.2rem;
  }
  
  /** Estilos Generales **/
  
  html *{
   margin: 0; 
   padding: 0;
   font-family: 'Playfair Display', serif;
  }
  html{
    scroll-behavior: smooth;
  }
  p{
    font-size: 1.1rem;
  }
  
  a{
    text-decoration: none;
  }
  
  ul, li{
    list-style: none;
  }
  
  .wrap-cta{
    padding: 1.5rem 0;
  }
  
  .cta-a{
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--main-c);
    padding: .5rem 1rem;
    border-radius: var(--border-r);
  }
  
  h1{
    font-size: 2.8rem;
  }
  h2{
    font-size: 1.5rem;
  }
  h3{
    font-size: 1.1rem;
  }
  
  /** Header f2f2f2, #ff69b4**/
  
  .header-landing{
    display: flex;
    justify-content: center;
    background:#fd2df6d7;
    padding: 0.25rem;
  }
  
  .logo-header{
    max-width: 170px;
    height: 100%;
    width: 100%;
  }
  
  /** Primera Section **/
  
  .primera-section{
    height: 75vh;
    background: "/img/logojanet.PNG";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(235, 21, 189, 0.221);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
  }
  
  .wrap-primera-section{
    max-width: 600px;
    color: #fff;
    padding: 15%;
  }
  
  /** Logo Brand Section **/
  .secetion{
    margin: 5rem 0;
  }
  
  .section h2{
    padding: 2rem 0;
  }
  
  .wrap-logos-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
  .logo-brand{
    width: 200px;
    padding: 1rem 2rem;
    filter: grayscale(1);
  }
  
  /** Wrap Title **/
  
  .wrap-title-section{
    display: flex;
    justify-content: center;
    margin: 3rem 1rem;
  }
  
  /** Seccion de productos **/
  
  .wrap-productos-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .productos-section{
    padding: 1rem;
  }
  
  .productos-section img{
    width: 230px;
    height: 230px;
  }
  
  /** Segunda columna Section **/
  
  .wrap-two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
    margin: 0 auto;


}
  .wrap-img_two-column{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  
  .wrap-text-column h3{
    padding: 2rem 0;
  }
  
  .wrap-text-column p{
    padding-bottom: 1rem;
  }
  
  /** Form Section **/
  
  section.two-column-section.form{
    background-color: #eb85e442;
    padding: 3rem 0;
  }
  
  .form input, .form textarea{
    display: flex;
    width: 100%;
    line-height: 1.75rem;
    border: 1.5px solid #fff;
    border-radius: var(--border-r);
  }
  
  .form textarea{
    min-height: 2px;
  }
  
  input[type="submit"]{
    border: 0;
    display: inline;
    cursor: pointer;
  }
  
  /** Footer **/
  
  .footer-section{
    max-width: 1200px;
    margin: 0 auto;
    background-color:  rgba(235, 21, 149, 0.368);
  }
  
  .menu-footer-section{
    padding: 1rem 0;
  }
  
  .wrap-social-logos ul, .wrap-menu-footer-section ul{
    display: flex;
    justify-content: center;
  }
  
  .social-logo{
    max-width: 75px;
    width: 100%;
    padding: 1rem;
  }
  
  .wrap-menu-footer-section ul li{
    font-size: 1.1rem;
    padding: 1.5rem;
    cursor: pointer;
  }
  
  .footer-creds{
    display: flex;
    justify-content: center;
  }
  
  
  